*{
	padding: 0;
	margin: 0;
}
a img{ border:0;color: #FFFFFF;text-decoration:none;}    
em,i,b{ font-style:normal;}
/* ul,li{ list-style:none;} */
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust:100%;
 -webkit-tap-highlight-color:transparent;
 font-family:"微软雅黑";
 color: #222222;
}
     
input,textarea{ border:none; outline:none; resize:none;}
body{
	font-size: 12px;
	background: #fff;
}
	